<a href="https://colab.research.google.com/github/NewAnik/DataScience/blob/master/AutoCorrect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install textdistance

Requirement already satisfied: textdistance in /usr/local/lib/python3.6/dist-packages (4.2.0)

In [ ]:
import pandas as pd
import numpy as np
import textdistance
import re
from collections import Counter
words = []
with open('AutoCorrect_Book.txt', 'r') as f:
    file_name_data = f.read()
    file_name_data=file_name_data.lower()
    words = re.findall('\w+',file_name_data)
# This is our vocabulary
V = set(words)
print(f"The first ten words in the text are: \n{words[0:10]}")
print(f"There are {len(V)} unique words in the vocabulary.")

The first ten words in the text are:
['the', 'project', 'gutenberg', 'ebook', 'of', 'moby', 'dick', 'or', 'the', 'whale']
There are 17647 unique words in the vocabulary.

In [ ]:
word_freq_dict = {}  
word_freq_dict = Counter(words)
print(word_freq_dict.most_common()[0:10])

[('the', 14703), ('of', 6742), ('and', 6517), ('a', 4799), ('to', 4707), ('in', 4238), ('that', 3081), ('it', 2534), ('his', 2530), ('i', 2120)]

In [ ]:
probs = {}     
Total = sum(word_freq_dict.values())    
for k in word_freq_dict.keys():
    probs[k] = word_freq_dict[k]/Total

In [ ]:
import textdistance
tokens_1 = "hello world".split()
tokens_2 = "world hello".split()
textdistance.jaccard(tokens_1 , tokens_2)

1.0

In [ ]:

def my_autocorrect(input_word):
    input_word = input_word.lower()
    if input_word in V:
        return('Your word seems to be correct')
    else:
        similarities = [1-(textdistance.Jaccard(qval=2).distance(v,input_word)) for v in word_freq_dict.keys()]
        df = pd.DataFrame.from_dict(probs, orient='index').reset_index()
        df = df.rename(columns={'index':'Word', 0:'Prob'})
        df['Similarity'] = similarities
        output = df.sort_values(['Similarity', 'Prob'], ascending=False).head()
        return(output)

In [ ]:
my_autocorrect('youd')

       Word      Prob  Similarity
26      you  0.004302    0.666667
673    your  0.001154    0.500000
2499   loud  0.000054    0.500000
2356  young  0.000359    0.400000
4367  youth  0.000040    0.400000