<a href="https://colab.research.google.com/github/NewAnik/DataScience/blob/master/Mnist_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
d0 = pd.read_csv('./mnist_train.csv')
print(d0.head(5))

   label  pixel0  pixel1  pixel2  ...  pixel780  pixel781  pixel782  pixel783
0      1       0       0       0  ...       0.0       0.0       0.0       0.0
1      0       0       0       0  ...       0.0       0.0       0.0       0.0
2      1       0       0       0  ...       0.0       0.0       0.0       0.0
3      4       0       0       0  ...       0.0       0.0       0.0       0.0
4      0       0       0       0  ...       0.0       0.0       0.0       0.0

[5 rows x 785 columns]

In [ ]:
l = d0['label']
d = d0.drop("label", axis = 1)